* {
  margin: 0;
  padding: 5px;
  position: relative;
  text-decoration: none;
  color: black;
  background-color: white;
}
body {
  width: 100%;
}
.myPeeps {
  width: 400px;
  margin: 0 auto;
}

.peepsBanner {
  height: 50px;
  background-color: rgb(61, 156, 93);
  color: white;
}

.singleView {
  border: 1px solid rgb(0, 0, 0);
  padding: 20px;
  background-color: rgb(61, 156, 93);
  color: white;
  width: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  align-items: center;
  width: 100px;
}

.image {
  border-radius: 50%;
}

.singleImage {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: rgb(61, 156, 93);
  padding: 20px;
  align-items: center;
}

.name {
  margin-left: 20px;
  list-style-type: none;
  color: black;
}

.test:link {
  text-decoration: none;
}
